__pycache__
.env
graph.ipynb 
verify_graph.py
voice_detector_test.py
.venv/
venv/
venv/*
chroma_db_local/
downloads/
test/*
samples/*
downloads/*
data/
test_reporter.py
test_ad_graph.py
venv/
venv/* 
